*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
    background-color: #13493C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    height: 400px;
    width: 300px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    border-radius: 30px;
    position: relative;

}
.block img{
    width: 80%;
    height: 300px;
    

    object-fit: cover;
    border-radius: 25px;

}
.block h1{
    font-size: 30px;
    position: relative;
    background-image: url(https://cdn-imgix.headout.com/media/images/c9db3cea62133b6a6bb70597326b4a34-388-dubai-img-worlds-of-adventure-tickets-01.jpg?auto=format&w=1222.3999999999999&h=687.6&q=90&ar=16%3A9&crop=faces&fit=crop);
    color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px black;
} 
.block h1::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: black;
    animation-name: my;
    animation-duration: 2s;
    animation-iteration-count: 10;
}
@keyframes my {
    0% {
        width: 10%;
    }
    100%{
        width: 100%;
    }
    
}
.block i{
    position: absolute;
    top: 40%;
    left: 40%;
    transition: all cubic-bezier(.73,1.95,.51,.31) 0.3s;
    font-size: 50px;
    opacity: 0;
    background: linear-gradient(rgb(226, 61, 144),rgb(92, 8, 92));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    rotate: 90deg;
  
}

